<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{user.username}} 的账户信息</title>
        <link href="https://www.purecss.cn/css/pure-min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.purecss.cn/css/baby-blue.css">
        <link rel="stylesheet" type="text/css" href="/static?file=style/common.css">
        <style>
            body {
                padding-top: 20%;
                width: 50%;
                margin: 0 auto;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div class="back">《 回到首页</div>
        <p>用户名: {{user.username}}</p>
        <p>密码: {{user.password}}</p>
        <p>群组: {{user.group}}</p>
    </body>
    <script src="static?file=js/toolbox.js"></script>
    <script>
        var btn = e('.back')
        btn.addEventListener('click', () => {
            back()
        })
    </script>
</html>
