<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>发表新微博</title>
        <link href="https://www.purecss.cn/css/pure-min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.purecss.cn/css/baby-blue.css">
        <link rel="stylesheet" type="text/css" href="/static?file=style/common.css">
        <style>
            .new-weibo {
                padding-top: 20%;
            }
        </style>
    </head>
    <body>
        <form action="/weibo/add" method="post" class="pure-form new-weibo">
            <fieldset>
                <input type="text" name="content">
                <button type="submit" class="pure-button pure-button-primary">发表新微博</button>
            </fieldset>
        </form>
    </body>
</html>
